* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
}
header {
    background-color: crimson;
    height: 10vh;
}
img {
    display: inline-block;
}
figure {
    padding: 1rem;
    display: inline-block;
}
nav {
    right: 3.5rem;
    position: absolute;
    display: inline-block;
    margin: 2.5rem 0;
    font-size: 1.6rem;
}
aside {
    background-color: darkblue;
    height: 80vh;
    width: 20vw;
    padding: 2rem;
}
div {
    font-size: 1.6rem;
    padding: 5rem;
    margin: 1rem;
    border: solid 1px black;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    background-color: blanchedalmond;
}
main {
    background-color: chartreuse;
    width: 80vw;
    height: 80vh;
    position: absolute;
    left: 20vw;
    bottom: 10vh;
}
article {
    font-size: 2rem;
    padding: 1.5rem;
}
footer {
    background-color:gold;
    height: 10vh;
}
h2,h5 {
    display: inline-block;
    margin: 2.5rem;
    position: absolute;
}

h2 {
    font-size: 1.6rem;
    right: 1rem;
}
h5 {    
    font-size: 2rem;
}