* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
.header{
    background-color: cornflowerblue;
    height: 60px;
}
.header .logo{
    display: inline-block;
}
.header-welcome {
    display: inline-block;
    padding: 5px;
    position: absolute;
    right: 0;
    
}
.header-welcome_options li{
    padding: 5px;
    list-style: none;
    display: inline-block;
    text-align: center;
}
.logo {
    padding: 5px;
}
.main .parrafo{
    background-color:green;
    position: absolute;
    padding: 10px;
}
.welcome ul{
    display: inline-block;
}
body{
    width: 100vw;
    height: 100vh;
}
footer {
    background-color: darkorange;
    height: 60px;
    padding: 20px;
}
footer h4 {
    text-align: center;
}
.main .main-menu {
    background-color: deeppink;
    padding: 10px;
    
    
}
.main_menu-options {
    padding: 15px;
    border: solid black 1px;
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 30%;
}